@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #F0F2F5;
}
.bar {
    height: 100vh;
}


@layer utilities {
    .side-bar {
        height: calc(100vh - 67px);
    }
}